body {
  background-color: black;
}
html {
  scroll-behavior: smooth; /*REALIZA O SCROLL SUAVE AO CLICAR NOS MENUS*/
}

i {
  margin-right: 0.75rem;
  font-size: 25px;
}
p,
a,
h1 {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li a {
  display: inline-block;
  margin-bottom: 0.6rem;
}

footer p a {
  color: rgb(18, 44, 235);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container footer {
  flex-direction: column;
}

.my-image {
  clip-path: circle();
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(65, 83, 221);
  width: 15rem;
  height: 3.5rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  padding: 0 2rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(18, 44, 235);
  font-size: 20px;
}

.icon-linkedin {
  color: blue;
}
.icon-github {
  color: orange;
}
.icon-instagram {
  color: red;
}
